<%- include('partial/header') -%>
 
<div class="container">
    <form action="/users/income" method="POST" class="form-user">
        <h1 class="f-weight textalign margin-b-20 font-20 font2">ADD INCOME</h1>
        <input class="formInput" type="text" name="source" placeholder="Enter source...">
        <input class="formInput" type="number" name="amount" placeholder="Enter amount..." >
        <input class="formInput" type="date" name="date" >
        <div class="textalign">
        <input class="btn f-weight" type="submit" value="Add Income">
        </div>
    </form>
</div>


<%- include('partial/footer') -%>