<%- include('partial/header') -%>

   <div class="flex flex-colomn">
    <h1 class="font2 font-50 margin-b-20">EXPENSE TRACKER</h1>
    <a href="/users/onboarding" class="btn f-weight">Go To Dashboard</a>
   </div>

<%- include('partial/footer') -%>
