<%- include('partial/header') -%>

    <div class="container">
        <div class="form-user">
            <form action="/users/verifyOtp" method="POST" >
                <h1 class="f-weight textalign font-20 font2 margin-b-20">Change Password</h1>
                        <input class="formInput" type="number" name="code" placeholder="Enter otp...">
                        <input class="formInput" type="password" name="password" placeholder="Enter New password...">
                        <div class="textalign">
                            <input class="btn f-weight" type="submit" value="Submit">
                        </div>
            </form>
        </div>
    </div>

    <%- include('partial/footer') -%>